<script>
  import { get } from "svelte/store";
  import {
    showScoreInput,
    highscore,
    newHighScore,
    isAnimating,
    scorePlayer,
    scoreTroll,
    state,
  } from "$lib/store.js";

  export let value;
  export let visibility = "visible";

  let i;
  let button;

  const onClick = async (n) => {
    if ($isAnimating) return;
    $isAnimating = true;

    let toHide = [];
    let whatsLeft = [];
    let factorsLeft = false;
    let selected = parseInt(n);
    let haveClicks = 0;

    // don't continue below if no factors of the clicked number
    for (i = 0; i < selected - 1; i++) {
      let element = button.parentElement.children[i];
      let style = getComputedStyle(element);
      if (style.visibility === "visible") {
        if (selected % (i + 1) === 0) {
          factorsLeft = true;
        }
      }
    }

    if (!factorsLeft) {
      $isAnimating = false;
      $state = "There are no factors of " + selected + " remaining!";
      return;
    }

    let audio = new Audio("click.mp3");
    audio.play();

    visibility = "hidden";

    $scorePlayer += selected;

    $state = "[Troll] These factors are mine!";

    // set the factors to red borders
    for (i = 0; i < selected; i++) {
      if (selected % (i + 1) === 0) {
        let element = button.parentElement.children[i];
        let style = getComputedStyle(element);
        if (style.visibility === "visible" && element != button) {
          element.style.borderColor = "red";
          toHide.push(element);
        }
      }
    }

    // hide and score the troll
    for (i = 0; i < toHide.length; i++) {
      await new Promise((r) => setTimeout(r, 1000));
      let element = toHide[i];
      let style = getComputedStyle(element);
      element.style.visibility = "hidden";
      $scoreTroll += parseInt(element.textContent);
      let audio = new Audio("troll.mp3");
      audio.play();
    }

    for (i = 0; i < button.parentElement.children.length; i++) {
      let element = button.parentElement.children[i];
      if (element.style.visibility === "visible") {
        whatsLeft.push(i + 1);
      }
    }

    whatsLeft.sort(function (a, b) {
      return b - a;
    }); // sort descending

    while (whatsLeft.length > 0) {
      let v = whatsLeft[0];
      whatsLeft.shift();
      for (i = 0; i < whatsLeft.length; i++) {
        if (v % whatsLeft[i] === 0) {
          haveClicks++;
        }
      }
    }

    if (haveClicks === 0) {
      $state = "[Troll] The rest are mine!";
      $isAnimating = true;

      toHide = [];
      for (i = 0; i < button.parentElement.children.length; i++) {
        let element = button.parentElement.children[i];
        if (element.style.visibility === "visible") {
          toHide.push(element);
          element.style.borderColor = "red";
        }
      }

      for (i = 0; i < toHide.length; i++) {
        await new Promise((r) => setTimeout(r, 1000));
        $scoreTroll += parseInt(toHide[i].textContent);
        toHide[i].style.visibility = "hidden";
        let audio = new Audio("troll.mp3");
        audio.play();
      }

      $isAnimating = false;
      if ($scorePlayer > $scoreTroll) {
        $state = "[Troll] You win.";
        let hasNewHighScore = false;
        $newHighScore = JSON.parse(JSON.stringify(get(highscore)));
        $newHighScore.highscore = $newHighScore.highscore.sort(
          (a, b) => b.score - a.score
        );

        for (i = 0; i < $newHighScore.highscore.length; i++) {
          if ($scorePlayer > $newHighScore.highscore[i].score) {
            hasNewHighScore = true;
            break;
          }
        }
        console.log(hasNewHighScore);
        if (hasNewHighScore) {
          $showScoreInput = true;
        }
      } else if ($scorePlayer === $scoreTroll) {
        $state = "[Troll] It's a tie!";
      } else {
        $state = "[Troll] You lose!";
      }
      return;
    }

    $isAnimating = false;
    $state = "[Troll] Pick another number.";
  };
</script>

<button
  bind:this={button}
  on:click={() => onClick(value + 1)}
  class="is-dark button"
  style="visibility:{visibility};"
>
  {value + 1}
</button>

<style>
  .button {
    width: 3rem;
  }
</style>
