<script>
  export let playerName;

  import {
    highscore,
    newHighScore,
    scorePlayer,
    showScoreInput,
  } from "$lib/store.js";

  const onClick = async (playerName) => {
    $showScoreInput = false;

    let v = playerName;
    if (v === undefined) {
      v = "Nameless";
    }

    let i;

    $newHighScore.highscore.push({ name: v, score: $scorePlayer });

    $newHighScore.highscore = $newHighScore.highscore.sort(
      (a, b) => b.score - a.score
    );

    $newHighScore.highscore.pop();

    // console.log("New high score - " + $newHighScore.highscore)

    const request = await fetch("/updateHighScore", {
      method: "POST",
      body: JSON.stringify({
        Key: "highscore.json",
        Body: JSON.stringify($newHighScore),
      }),
    });
    const response = await request.json();

    console.log(response);

    if (response) {
      highscore.set($newHighScore);
    }
  };
</script>

<button on:click={() => onClick(playerName)} class="is-small button is-dark">
  Submit
</button>
