<script>
  import {
    scorePlayer,
    scoreTroll,
    mode,
    nButtons,
    state,
  } from "$lib/store.js";

  export let difficulty;
  export let color;

  const onClick = async (n) => {
    $scorePlayer = 0;
    $scoreTroll = 0;

    switch (difficulty) {
      case "Noob":
        $nButtons = 10;
        break;
      case "Easy":
        $nButtons = 26;
        break;
      case "Normal":
        $nButtons = 36;
        break;
      case "Hard":
        $nButtons = 46;
        break;
      case "Extreme":
        $nButtons = 96;
        break;
    }

    let audio = new Audio("menu.mp3");
    audio.preload = "auto";
    audio.play();
    $mode = "game";
    $state = "[Troll] Pick a number.";
  };
</script>

<button on:click={() => onClick(difficulty)} class="is-small button {color}">
  {difficulty}
</button>
