<script>
  export let data;

  import {
    highscore,
    showHighScore,
    showScoreInput,
    scorePlayer,
    scoreTroll,
    mode,
    nButtons,
    state,
    isAnimating,
    story,
    instructions
  } from "$lib/store.js";
  import Button from "$lib/ButtonNumber.svelte";
  import ButtonDifficulty from "$lib/ButtonDifficulty.svelte";
  import ButtonSubmitScore from "$lib/ButtonSubmitScore.svelte";

  let playerName;

  highscore.set(data);
    
  console.log($highscore);

  const backMenu = () => {
    $mode = "menu";
    $showScoreInput = false;
  };

  const showStory = () => {
    $story = !$story;
  };

  const showInstructions = () => {
    $instructions = !$instructions;
  };

  const displayHighScore = () => {
    $showHighScore = !$showHighScore;
  };
</script>

<div class="section">
  <div class="container">
    <div class="columns has-text-centered is-centered">
      <h1 class="title">TROLL FACTOR</h1>
    </div>
  </div>
</div>

{#if $mode === "menu"}
  <div class="section">
    <div class="container">
      <div class="columns has-text-centered is-centered">
        <img width="250px" alt="A troll" src="troll.png" />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="columns buttons is-centered">
        <ButtonDifficulty difficulty="Noob" color="is-primary" />
        <ButtonDifficulty difficulty="Easy" color="is-success" />
        <ButtonDifficulty difficulty="Normal" color="is-warning" />
        <ButtonDifficulty difficulty="Hard" color="is-danger" />
        <ButtonDifficulty difficulty="Extreme" color="is-danger" />
      </div>
      <div class="columns buttons is-centered">
        <button class="button is-small is-info" on:click={() => showInstructions()}
          >{#if $instructions}Hide{:else}Show{/if} Instructions</button
        >
        <button class="button is-small is-info" on:click={() => showStory()}
          >{#if $story}Hide{:else}Show{/if} Story</button
        >
        <button
          class="button is-small is-info"
          on:click={() => displayHighScore()}
          >{#if $showHighScore}Hide{:else}Show{/if} High Score</button
        >
      </div>
    </div>
  </div>

  {#if $instructions}
    <div class="section">
      <div class="container has-text-centered">
        <div class="block"><h2 class="subtitle is-3">INSTRUCTIONS</h2></div>
        <div class="block">
          Pick a number. 
        </div>
        <div class="block">Troll gets all the factors of your number.</div>
        <div class="block">
          When only prime numbers or numbers without factors are left, troll keeps everything.
        </div>
        <div class="block">
          Highest score wins.
        </div>
      </div>
    </div>
  {/if}

  {#if $showHighScore}
    <div class="section">
      <div class="container has-text-centered">
        <div class="block"><h2 class="subtitle is-3">HIGH SCORE</h2></div>
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead>
            <th class="has-text-centered">Name</th>
            <th class="has-text-centered">Score</th>
          </thead>
          {#each $highscore.highscore as list, index}
            <tr>
              <td class="has-text-centered">{list.name}</td>
              <td class="has-text-centered">{list.score}</td>
            </tr>
          {/each}
        </table>
      </div>
    </div>
  {/if}

  {#if $story}
    <div class="section">
      <div class="container has-text-centered">
        <div class="block"><h2 class="subtitle is-3">STORY</h2></div>
        <div class="block">
          In the year 2007, Russian military intelligence analysts reported that
          one of the United States most secretive spy satellites the KH-13 was
          downed in the South american nation of Peru.
        </div>
        <div class="block">The KH-13 carried hazardous materials on board.</div>
        <div class="block">
          Hundreds were reported ill from radiation poisoning.
        </div>
        <div class="block">The mainstream press disavowed any knowledge.</div>
        <div class="block">
          The Peruvian government assembled a top secret team to the crash site.
        </div>
        <div class="block">Only one member made it back alive.</div>
        <div class="block">He brought troubling news. Disturbing truth.</div>
        <div class="block">Are you ready for the truth?</div>
        <div class="block">I hope you are. It's not going to be easy.</div>
        <div class="block">Mutations occurred.</div>
        <div class="block">Those who were ill had developed a condition.</div>
        <div class="block">
          They gained superhuman strength, lost most of their hair, their skin
          thickened and became a dirty green hue.
        </div>
        <div class="block">Those who had seen them called them Trolls.</div>
        <div class="block">
          The Trolls lived peacefully among the local Peruvian tribes.
        </div>
        <div class="block">Until one day...</div>
        <div class="block">
          The Trolls bought iPads, picked up programming langauges and created a
          game on their iPad.
        </div>
        <div class="block">
          One day a Troll approached a young tribesman with an iPad and
          challenged him to a game.
        </div>
        <div class="block">
          The young tribesman lost the game got owned by the Troll.
        </div>
        <div class="block">The Troll ate him up.</div>
        <div class="block">Thousands of tribal people fled.</div>
        <div class="block">
          Many years later a top secret project was launched by the Peruvian
          government.
        </div>
        <div class="block">Their mission...</div>
        <div class="block">
          To hack into the elaborate and extensive Troll network infrastructure
          and retrieve the source code of the Troll game.
        </div>
        <div class="block">They found it.</div>
        <div class="block">It was called...</div>
        <div class="block">TROLL FACTOR</div>
        <div class="block">That's right.</div>
        <div class="block">Pretty unbelievable huh.</div>
        <div class="block">They're all around us.</div>
        <div class="block">The Trolls.</div>
        <div class="block">Now is your chance, to practice this game...</div>
        <div class="block">Before one of them approaches you…</div>
        <div class="block">When you least expected...</div>
        <div class="block">Cheers.</div>
      </div>
    </div>
  {/if}
{:else}
  <div class="section">
    <div class="container">
      <p>Troll: {$scoreTroll}</p>
      <p>Player: {$scorePlayer}</p>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="is-multiline columns buttons">
        {#each Array($nButtons) as _, index (index)}
          <Button value={index} />
        {/each}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <p>{$state}</p>
    </div>
  </div>

  {#if $showScoreInput}
    <div class="section">
      <div class="container">
        <div class="block"><p>NEW HIGH SCORE</p></div>
        <input
          class="input"
          type="text"
          placeholder="Name"
          bind:value={playerName}
        />
        <ButtonSubmitScore {playerName} />
      </div>
    </div>
  {/if}

  <div class="section">
    <div class="container">
      <div class="columns is-centered">
        {#if !$isAnimating}
          <button class="button is-info is-small" on:click={() => backMenu()}
            >Back</button
          >
        {/if}
      </div>
    </div>
  </div>
{/if}

<footer class="footer">
  <div class="content has-text-centered is-small">
    <p>
      Adapted from <a href="https://www.youtube.com/watch?v=Cn7VsB_N2Qc"
        >Tax Factor</a
      >. Open sourced on
      <a href="https://gitlab.com/nutellabutter/troll-factor">Gitlab</a>.
    </p>
    <p>
      Built with ❤️ for my triple J's on <a href="https://svelte.dev">Svelte</a
      >.
    </p>
    <p>Because you asked. Love you always.</p>
    <audio controls autoplay loop
      ><source src="./bg.mp3" type="audio/mpeg" /></audio
    >
  </div>
</footer>
