@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$black: #000000;
$white: #ffffff;
$lime: lime;

$body-background-color: $black;
$text: $lime;
$title-color: $lime;
$family-serif: "Roboto Mono", monospace;
$family-primary: $family-serif;
$title-family: "Press Start 2P", monospace;
$subtitle-family: "Press Start 2P", monospace;
$footer-background-color: $black;
$footer-color: $white;
$table-background-color: $black;
$table-color: $lime;
$table-head-cell-color: $lime;
$table-cell-border: 0px solid lime;

@import "../node_modules/bulma/bulma.sass";